include ../block-header/index
include ../block-profile/index
include ../block-contacts/index
include ../block-skills/index
include ../block-education/index
include ../block-experience/index
include ../block-software/index

mixin resume-block-main()
    div.main
        div.left
            +resume-block-header()
            +resume-block-profile()
            +resume-block-contacts()
            +resume-block-skills()
        div.right
            +resume-block-education()
            +resume-block-experience()
            +resume-block-software()