include ../block-header/index
include ../block-profile/index
include ../block-contacts/index
include ../block-skills/index
include ../block-education/index
include ../block-experience/index
include ../block-software/index

mixin resume-block-main(content)
    div.main
        div.left
            +resume-block-header(content.header)
            +resume-block-profile(content.profile)
            +resume-block-contacts(content.contacts)
            +resume-block-skills(content.skills)
        div.right
            +resume-block-education(content.education)
            +resume-block-experience(content.experience)
            +resume-block-software(content.software)