mixin resume-block-header()
  section.header
    div.header-top
      div
      div
    div.header-bottom.header-text
      div.name Name here
      div.surname Surname
      div.profession Graphic designer
