-var chunks = ['Name here','Surname','Graphic designer'];

mixin resume-block-header()
  section.header
    div.header-top
      div
      div
    div.header-bottom.header-text
      div.name !{chunks[0]}
      div.surname !{chunks[1]}
      div.profession !{chunks[2]}