mixin resume-block-header(chunk)
  section.header
    div.header-top
      div
      div
    div.header-bottom.header-text
      div.name !{chunk.name}
      div.surname !{chunk.surname}
      div.profession !{chunk.profession}