.main
  section.header
    padding-bottom 6.08rem
    margin-bottom 0.1rem

    .header-top
      margin 0 auto
      width 19.16rem
      height 19.16rem
      border-radius 50%
      background-color #006cb4
      border 1px solid #006cb4
      box-shadow inset 0 0 0 1.17rem white

    .header-bottom
      padding-top 2.3rem

      .name
        font-size 4.42rem
        letter-spacing 0
        word-wrap normal
        font-weight lighter

      .surname
        font-size 5.08rem
        line-height 3.33rem
        font-weight bold

      .profession
        font-size 2rem
        padding-top 1.33rem
        font-weight bold


    .header-text
      text-transform uppercase
      text-align center