@font-face {
    font-family: MyriadPro-LightSemiExt;
    src: url(fonts/MyriadPro-LightSemiExt.otf);
}

@font-face {
    font-family: MyriadPro-Bold;
    src: url(fonts/MyriadPro-Bold.otf);
}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(fonts/MyriadPro-Regular.otf);
}

@media (max-device-width: 720px), (max-width: 720px) {
  .main{
    display: block !important;
  }

  .left{
    width: 100% !important;
    padding: 0 !important;
  }

  .right{
    width: 100% !important;
    padding: 0 !important;
  }

  .software-content{
    display: block !important;
  }

  html{
    font-size: 10px !important;
  }
}

@media (max-width: 950px) {
  html{
    font-size: 10px !important;
  }
}

@media (max-width: 830px) {
  .software-content{
    display: block !important;
  }

  .bot-separator{
    margin-bottom: 1.83rem !important;
  }
}

html{
  font-size: 12px;
}

body{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  width: 95%;
  margin: 0 auto;
  min-width: 320px;
  margin-top:  7.33rem;
}

.left{
  width: 38%;
  display: flex;
	flex-flow: column;
  padding-right: 3.25rem;
  padding-left: 3.25rem;
}

.right{
  width: 62%;
  display: flex;
	flex-flow: column;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

section{
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header{
  padding-bottom: 73px;
  margin-bottom: 0;
}

.header-text{
  text-transform: uppercase;
  text-align: center;
}

.header-top{
  margin: 0 auto;
  width: 19.16rem; /*230px от 12px*/
  height: 19.16rem;
  border-radius: 50%;
  background-color: #006cb4;
  border: 1px solid #006cb4;
  box-shadow: inset 0 0 0 1.17rem white; /*14px от 12px*/
}

.header-bottom{
  padding-top: 2.4rem; /*24px от 12px*/
}

.header-bottom .name{
  font-size: 4.42rem;
  font-family: MyriadPro-LightSemiExt;
  letter-spacing: 0;
  word-wrap: normal;
}

.header-bottom .surname{
  font-family: MyriadPro-Bold;
  font-size: 5.08rem;
  line-height: 3.33rem;
}

.header-bottom .profession{
  font-family: MyriadPro-Bold;
  font-size: 2rem;
  padding-top: 1.33rem;
}

.sec-header{
  display: table;
  height: 6rem; /*72px от 12px*/
  width: 100%;
}

.sec-header .icon{
  display: table-cell;
  width: 5.84rem; /*70px от 12px*/
  padding-right: 5.84rem;
  background-color: #006cb4;
  border-radius: 50%;
  border: 0.08rem solid #006cb4;
  vertical-align: middle;
  box-shadow: inset 0 0 0 0.25rem white; /*3px от 12px*/
  position: relative;
}

.sec-header .title{
  display: table-cell;
  vertical-align: middle;
  font-family: MyriadPro-Bold;
  font-size: 3.43rem; /*41.15px от 12px*/
  text-transform: uppercase;
  color: #006cb4;
  padding-left: 1.1rem; /*13 - 14 от 12px*/
  padding-top: 0.6rem;
}

.sec-header .buffer-line{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.5rem; /*6px от 12px*/
  /*padding-right: 1.42rem;  17px от 12px*/
}

.buffer-line .line{
  height: 0.42rem; /*5px от 12px*/
  width: 100%;
  background-color: #006cb4;
}

.icon{
  position: relative;
}

.icon .i-profile::after{
  content: "";
  position: absolute;
  width: 1.42rem; /*17px от 12px*/
  height: 1.42rem; /*17px от 12px*/
  background-color: white;
  border-radius: 50%;
  top: calc(50% - 1.17rem); /*14px от 12px*/
  left: calc(50% - 0.71rem);  /*8.5px от 12px*/
}

.icon .i-profile::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1.42rem solid white; /*17px от 12px*/
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
  left: calc(50% - 1.42rem); /*17px от 12px*/
}

.sec-content{
  padding-top: 1.2rem;
  line-height: 1.45rem;
}

.sec-content span{
   font-size: 1.29rem; /*15.43 от 12px*/
   font-family: MyriadPro-Regular;
}

.sec-content span b{
    font-family: MyriadPro-Bold;
}

.sec-content table.table-contact{
  border-collapse: collapse;
  margin-top: 2rem;
}

.table-contact td{
  font-size: 1.67rem;
  font-family: MyriadPro-Regular;
  padding-left: 3.58rem;
  padding-top: 22px;
  padding-bottom: 1.3rem;
}

.table-contact tr:nth-child(1) td{
  padding-top: 0;
}

.table-contact tr:last-child td{
  padding-bottom: 0;
}

td.td-blue{
  text-transform: uppercase;
  color: #006cb4;
  font-size: 1.67rem; /*20px от 12px*/
  font-family: MyriadPro-Bold;
  font-weight: bold;
  padding-left: 0;
}

.icon .i-contact{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-image: url("svg/contact.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 57%;
}

.skills{
  width: 100%;
}

.sec-content .skill:first-child{
  padding-top: 0.5rem;
}

.skill{
  width: 100%;
  margin-top: 0.83rem; /*10px от 12px*/
  padding-bottom: 1.7rem;
}

.skills .skill:last-child{
  padding-bottom: 0;
}

.sec-content .skills:nth-child(1){
  margin-top: 1.67rem; /*20px от 12px*/
}

.sec-content div:last-child.skills{
  padding-bottom: 0;
}

.skills-title{
  text-align: center;
  font-family: MyriadPro-Regular;
  text-transform: uppercase;
  font-size: 25.5px;
  padding: 0;
}

.skills-progress{
  width: 100%;
  min-width: 260px;
  max-width: 400px;
  margin: 0 auto;

}

.skills-progress ul{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  height: 1.41rem;
}

.skills-progress ul li{
  list-style: none;
  width: 1.41rem;  /*17px от 12px*/
  height: 1.41rem;  /*17px от 12px*/
  background-color: #006cb4;
  border-radius: 50%;
  margin-left: 0.33rem; /*4px от 12px*/
  margin-right: 0.33rem; /*4px от 12px*/
}

.skills-progress ul li:nth-last-child{
  margin-right: 0;
}

.skills-progress ul li:nth-child(1){
  margin-left: 0;
}

.skills-progress ul li.active{
  background-color: #006cb4;
}

.skills-progress ul li.active ~ li{
  background-color: #e7e7e7;
}

.icon .i-skills{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-image: url("svg/skills.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 47%;
}




/*Вторая колонка*/

.places{
  font-family: MyriadPro-Regular;
  font-size: 1.29rem;
  padding-left: 0.92rem;
  line-height: 2.08rem;
}

.places ul{
  margin: 0;
  margin-top: 1.33rem;
}

.places ul{
  list-style: none;
}

.places-header{
  font-size: 2.14rem;
  text-transform: uppercase;
}

.places-title{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  line-height: 2rem;
}

.places-header .title-1{
  font-family: MyriadPro-Bold;
  color: #006cb4;
  padding-right: 1.25rem;
}

.places-header .period{
  text-transform: none;
}

.places-header .title-2{
  padding-top: 0.75rem;
}

.places-content{
  padding-top: 0.58rem;
  line-height: 1.5rem;
}

.places li{
  padding-bottom: 1.58rem;
  position: relative;
}

.places li:last-child{
  padding-bottom: 0;
}

.places li:not(:nth-child(1)){
  margin-top: 0;
}

.places .places-header::after{
  content: "";
  position: absolute;
  top: 0;
  left: -3.17rem;
  background-color: black;
  width: 1.67rem;
  height: 1.67rem;
  border-radius: 50%;
}

.black{
  color: black !important;
}

.i-star{
  content: "";
  width: 100%;
  height: 100%;
  top: -2px;
  position: absolute;
  background-image: url("svg/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.icon .i-case::before{
  content: "";
  position: absolute;
  top: calc(50% - 1.53rem);
  left: calc(50% - 1.1rem);
  border-radius: 50%;
  background-color: #006cb4;
  box-shadow: inset 0 0 0 0.25rem white;
  width: 2.08rem;
  height: 2.08rem;
}

.icon .i-case::after{
  content: "";
  position: absolute;
  top: calc(50% - 0.7rem);
  left: calc(50% - 1.6rem);
  background-color: white;
  width: 3.08rem;
  height: 2rem;
}

.icon .i-software::after{
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 1.33rem;
  width: 3.17rem;
  height: 2rem;
  background-color: #006cb4;
  border-radius: 0.42rem;
  box-shadow: inset 0 0 0 0.25rem white;
}

.icon .i-software::before{
  content: "";
  position: absolute;
  top: 3.75rem;
  left: 1.17rem;
  width: 3rem;
  height: 0;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-bottom: 0.5rem solid white;
}

.software-content{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 1.7rem;
}

.software-column{
  flex-grow: 1;
}

.s-separator{
  flex: 0 0 11%;
}

.bot-separator{
  margin-bottom: 0;
}

.progress-item{
  width: 100%;
  padding-bottom: 0.58rem;
}

.progress-title{
  font-size: 2.14rem;
  font-family: MyriadPro-Regular;
  text-transform: uppercase;
  padding-bottom: 1.7rem;
}

.progress{
  position: relative;
  height: 1.7rem;
  width: 100%;
  background-color: #e7e7e7;
  margin-bottom: 1.83rem;
}

.software-column .progress-item:last-child,
.software-column .progress-item:last-child .progress{
  padding-bottom: 0;
  margin-bottom: 0;
}

.progress .progress-bar{
  height: 100%;
  background-color: #006cb4;
  width: 0;
}
