include ../mixins

mixin resume-block-contacts(chunk)
    section
        +section-header('i-contacts', 'Contacts')
        div.sec-content
            table.contacts
                tr
                    td.td-title Address
                    td !{chunk.address}
                tr
                    td.td-title E-Mail
                    td !{chunk.email}
                tr
                    td.td-title Phone
                    td !{chunk.phone}
                tr
                    td.td-title Website
                    td !{chunk.website}