include ../mixins

mixin contact-table-tr(title, content)
    tr
        td.td-title !{title}
        td !{content}

mixin resume-block-contacts(chunks)
    section
        +section-header('i-contacts', 'Contacts')
        div.sec-content
            table.contacts
                each chunk in chunks
                    +contact-table-tr(chunk.title, chunk.content)