include ../mixins
mixin skill(pointCount, title, level)
    div.skill
        div.skill-title !{title}
        div(value=level).skill-progress
            - var n = 0;
            ul
                while n < pointCount
                    li
                    - n++;

mixin resume-block-skills(chunks)
    section.skills
        +section-header('i-skills', 'Skills')
        div.sec-content
            -var count = chunks[0];
            each chunk in chunks[1]
                +skill(count, chunk[0], chunk[1])

+resume-block-skills(locals)