include ../mixins

-var skills_array = [12, [['Creative','9'],['Teamwork','11'],['Innovate','6'],['Communication','11']]];

mixin skill(pointCount, title, level)
    div.skill
        div.skill-title !{title}
        div(value=level).skill-progress
            - var n = 0;
            ul
                while n < pointCount
                    li
                    - n++;

mixin resume-block-skills()
    section.skills
        +section-header('i-skills', 'Skills')
        div.sec-content
            -var count = skills_array[0];
            each chunk in skills_array[1]
                +skill(count, chunk[0], chunk[1])