include ../mixins

mixin skill(pointCount, title, level)
    div.skill
        div.skill-title !{title}
        div(value=level).skill-progress
            - var n = 0;
            ul
                while n < pointCount
                    li
                    - n++;

mixin resume-block-skills(chunks)
    section.skills
        +section-header('i-skills', 'Skills')
        div.sec-content
            -var count = chunks.maximum;
            each chunk in chunks.content
                +skill(count, chunk.title, chunk.value)