include ../mixins

mixin skills(pointCount, titlesAndLevelsArray)
    each val in titlesAndLevelsArray
        div.skill
            div.skill-title !{val[0]}
            div(value=val[1]).skill-progress
                - var n = 0;
                ul
                    while n < pointCount
                        li
                        - n++;

mixin resume-block-skills()
    section.skills
        +section-header('i-skills', 'Skills')
        div.sec-content
            +skills(12, [['Creative', '9'], ['Teamwork', '11'], ['Innovate', '6'], ['Communication', '11']])