mixin resume-block-header()
  section.header
    div.header-top
      div
      div
    div.header-bottom.header-text
      div.name#resume-header-name Name here
      div.surname#resume-header-surname Surname
      div.profession#resume-header-profession Graphic designer
      
+resume-block-header()
