include ../mixins

mixin resume-block-education(chunks)
    section
        +section-header("i-star", "Education")
        div.sec-content
            div.places
                ul
                    each chunk in chunks
                        li
                            div.places-header
                                div.places-title
                                    div.title-1 !{chunk.academicDegree}
                                    div.period !{chunk.period}
                                div.title-2 !{chunk.university}
                            div.places-content !{chunk.text}