doctype html
html(lang = "ru")
  head
  meta(charset = 'utf-8')
  meta(name='viewport', content="width=device-width")
  title Макет резюме
  body
    div.main
      div.left
        include /blocks/resume-header
        include /blocks/resume-profile
      div.right
