include ./blocks/block-main/index.pug
-var resume_content = require('./blocks/block-main/content.json');

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(viewport="width=device-width")
        title Макет резюме
    body
        +resume-block-main(resume_content)