@font-face
  font-family MyriadPro
  src url('./fonts/MyriadPro/MyriadPro-It.ttf') format('truetype'), url('./fonts/MyriadPro/MyriadPro-It.woff') format('woff'), url('./fonts/MyriadPro/MyriadPro-It.eot') format('eot')
  font-weight normal
  font-style italic

@font-face
  font-family MyriadPro
  src url('./fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype'), url('./fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'), url('./fonts/MyriadPro/MyriadPro-Bold.eot') format('eot')
  font-weight bold
  font-style normal

@font-face
  font-family MyriadPro
  src url('./fonts/MyriadPro/MyriadPro-BoldIt.ttf') format('truetype'), url('./fonts/MyriadPro/MyriadPro-BoldIt.woff') format('woff'), url('./fonts/MyriadPro/MyriadPro-BoldIt.eot') format('eot')
  font-weight bold
  font-style italic

@font-face
  font-family MyriadPro
  src url('./fonts/MyriadPro/MyriadPro-Light.ttf') format('truetype'), url('./fonts/MyriadPro/MyriadPro-Light.woff') format('woff'), url('./fonts/MyriadPro/MyriadPro-Light.eot') format('eot')
  font-weight 100
  font-style normal

@font-face
  font-family MyriadPro
  src url('./fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'), url('./fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'), url('./fonts/MyriadPro/MyriadPro-Regular.eot') format('eot')
  font-weight normal
  font-style normal

html
  font-size 12px

body
  margin 0
  padding 0

.main
  font-family MyriadPro
  font-weight normal
  display flex
  margin 0 auto
  min-width 320px
  margin-top  7.33rem
  padding-left 38px
  padding-right 38px

  .text-black
    color black !important

  .text-blue
    color #006cb4 !important

  .left
    width 37%
    display flex
    flex-flow column
    padding-right 38px

  .right
    width 57%
    display flex
    flex-flow column
    padding-left 38px

  section
    width 100%
    display block
    margin 0 auto
    margin-bottom 3.16rem

    .sec-header
      display table
      height 6rem
      width 100%
      font-weight bold

      .icon
        display table-cell
        width 5.84rem
        padding-right 5.84rem
        background-color #006cb4
        border-radius 50%
        border 0.08rem solid #006cb4
        vertical-align middle
        box-shadow inset 0 0 0 0.25rem white
        position relative

      .title
        display table-cell
        vertical-align middle
        font-size 3.43rem
        text-transform uppercase
        color #006cb4
        padding-left 1.1rem

      .buffer-line
        width 100%
        display table-cell
        vertical-align middle
        padding-left 0.5rem

        .line
          height 0.42rem
          width 100%
          background-color #006cb4

    .sec-content
      padding-top 1.2rem
      line-height 1.45rem

      span
        font-size 1.29rem
        font-weight normal