include ../mixins

mixin _fill_soft(chunk)
    div.progress-item
        div.progress-title !{chunk.softName}
        div.progress
            div(value=chunk.level).progress-bar

mixin resume-block-software(software)
    section.software-content
        +section-header('i-software', 'Software')
        div.sec-content
            each chunk in software
                +_fill_soft(chunk)